@import "tailwindcss";
@font-face {
  font-family: "IranYekan";
  src: url("./font/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "IranYekan", sans-serif;
}

@theme {
  --color-sadrtell: #253b7e;
  --color-navbar: #e6effd;
}

@layer base {
  :root {
    --color-sadrtell: #253b7e;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  @keyframes opacityAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Custom animations */
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes shadow {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.4;
    }
    50% {
      transform: scale(0.8);
      opacity: 0.2;
    }
  }
}

@layer utilities {
  /* shrink home menu */

  .quick-categories .category-img {
    width: 8.75rem; /* Matches w-35 */
    transition: width 0.3s ease; /* Smooth transition */
  }

  .quick-categories .category-img:hover {
    width: 10rem; /* Matches w-40 */
  }

  /* Shrink non-hovered images only when one image is hovered */
  .quick-categories:has(.category-img:hover) .category-img:not(:hover) {
    width: 7.5rem; /* Matches w-30 or your desired smaller size */
  }

  .animate-fade-up {
    animation: fade-up 0.5s ease-out forwards var(--delay, 0ms);
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-shadow {
    animation: shadow 6s ease-in-out infinite;
  }
  .light-shadow {
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.75);
  }
  .appear {
    animation: opacityAppear 0.3s ease-in-out forwards;
  }
}

/* scroll bar */

html {
  /* Firefox */
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
}

/* WebKit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-sadrtell);
}

/* Optional: Hover effect for thumb */
html::-webkit-scrollbar-thumb:hover {
  background: #253b7ee1;
}
